@charset "UTF-8";

@import url("/css/mail/sidebar.css");

.content {
	display: flex;
	height: 100%;
}

.left-box {
	padding-right: 30px;
	border-right: 1px solid var(--sub-grey);
	box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);
}

.right-section {
	width: 100%;
	padding: 40px;
	overflow-y: auto;
}

#default-mode {
	width: 1220px;
}

.update-post-header {
	border-top: 2px solid var(--black);
	border-bottom: 1px solid var(--main-grey);
}

.update-post-no, .update-post-title {
	font-size: 24px;
	padding: 10px;
}

.update-post-date {
	font-size: 16px;
	padding: 10px;
	text-align: right;
}

/* 제목 수정 입력박스*/
#update-mode>ul>ul>li.update-post-title>input {
	padding: 5px;
	font-size: 24px;
	border: 1px solid var(--main-grey);
	border-radius: 5px;
}

.update-post-content {
	margin-top: 20px;
	padding: 20px;
	width: 100%;
	font-size: 18px;
}

/* 내용 수정 입력박스*/
#update-mode>ul>li:nth-child(3)>textarea {
	width: 1200px;
	font-size: 18px;
	border: 1px solid var(--main-grey);
	border-radius: 5px;
}

/* 수정 및 삭제 버튼 영역 */
.update-btn-area {
	padding-bottom: 15px;
}

.write-btn {
	border: none;
	background-color: var(--main-grey);
	border-radius: 10px;
	padding: 8px;
	cursor: pointer;
}

.write-btn:hover {
	background-color: var(--sub-navy);
}

.update-btn {
	margin-top: 5px;
	border: none;
	background-color: var(--main-navy);
	color: white;
	border-radius: 10px;
	padding: 10px 15px;
	cursor: pointer;
	font-size: 16px;
}

.update-btn:hover {
	background-color: var(--sub-navy);
}

.delete-btn {
	margin-top: 5px;
	border: none;
	background-color: var(--main-grey);
	color: var(--black);
	border-radius: 10px;
	padding: 10px 15px;
	cursor: pointer;
	font-size: 16px;
}

.delete-btn:hover {
	background-color: var(--sub-grey);
}