.container {
    width: 210mm;
    height: 297mm;
    padding: 5mm;
    border: 1px solid var(--main-navy-grey);
    background-color: #fff;
    margin: 0 auto;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10mm;
    float: left;
    position: relative; /* 가이드 라인 위치를 위해 추가 */
}


.content-left {
    text-align: left;
    margin-bottom: 20mm;
    max-width: 350px;
}

.logo-preview {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: initial;
    align-items: initial;
    overflow: hidden;
}

#logoPreview {
    border-top-right-radius: 150px; /* 원하는 크기로 설정 */
    border-bottom-right-radius: 150px; /* 원하는 크기로 설정 */
    width: 350px;
    height: 350px;
    object-fit: fill;
    float: left;
}

.title {
    color: #383838;
    font-size: 24pt;
    font-weight: bold;
    margin: 0;
}

.subtitle {
    font-size: 12pt;
    font-weight: bold;
    color: #666;
    margin: 0;
}

.content-right {
    display: flex;
    flex-direction: column;
    max-width: 350px;
}

.form-group {
    margin-bottom: 10mm;
}

label {
    font-size: 12pt;
    font-weight: bold;
    color: #000;
    display: block;
    margin-bottom: 2mm;
    position: relative;
    padding-bottom: 5px; /* 여백을 추가하여 선과 텍스트 간격 조절 */
}
label::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px; /* 밑줄 두께 */
    background-color: #2e3d86; /* 밑줄 색상 */
    position: absolute;
    left: 0;
    bottom: 0; /* label의 아래에 위치 */
}

p {
    font-size: 12pt;
    padding: 3mm;
    /*border: 1px solid #767586;*/
    width: 100%;
    box-sizing: border-box;
    /*background-color: #f9f9f9;*/
    margin: 0;
    white-space: pre-wrap; /* 공백과 줄바꿈을 유지 */
}

.image-preview img {
    display: block;
    width: 240px;
    height: 340px;
    object-fit: cover;
    border: 1px solid #ccc;
    margin-top: 5mm;
}

.button-container{
    justify-content: flex-end;
    gap: 20px;
    float: right;
    align-items: flex-end;
}


#approvalRequestButton{
    font-size: 14pt;
    padding: 5mm 10mm;
    background-color: var(--sub-navy-grey);
    color: #fff;
    border: none;
    cursor: pointer;
}

#approvalRequestButton:hover{
    background-color: var(--main-navy-grey);
}