<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
th:replace="~{views/commons/layout::layout(~{::head}, ~{::main})}">
<head>
	<meta name="_csrf" content="${_csrf.token}" />
	<meta name="_csrf_header" content="${_csrf.headerName}" />
	<link rel="stylesheet" href="/css/emp/detail.css">
	<link rel="stylesheet" href="/css/admin/admin.css">
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script src="/js/hrm/admin.js"></script>
	<title>인사관리</title>
	<script src="/js/hrm/detail.js"></script>
</head>
<body>
	<main class="admin">
		<header class ="title">조직도</header>
		<form th:action="@{/admin/hr/mgm}" method="get">
		            <button type="submit" class="images">
                <img class="setting" src="/images/hrm/setting.png" alt="인사관리 설정창">
            </button>
        </form>
		<div class="orgChart">
	        <ul class="orgChartEmp">
	            <li class="node">
	                <div class="company">
	                	<span class="companyName">(주)</span>	 
	                    <span>MIRCALE</span>	
	                </div>
	                <ul class="dep">
							<li th:each="department : ${departments}">
		                        <div class="depName" th:text="${department.depName}"></div>
		                        <div class="depNum" th:text="${department.depNum}"></div>
		                        <ul class="team">
		                            <li th:each="employee : ${department.employees}">
		                                <div class="emp">
		                                    <span class="empName" th:text="${employee.name}" 
		                                          th:onclick="'showEmployeeDetail(' + ${employee.name} + ')'"></span>
		                                    <span class="bar">|</span>
		                                    <span class="empRank" th:text="${employee.position}"></span>    
		                                </div>
		                            </li>
		                        </ul>
		                    </li>
	                    <li>
	                        <div class="depName">관리부</div>
	                        <div class="emp">
	                        	<span class="empName" onclick="showEmployeeDetail('박세나')">박세나</span>
							</div>
	                        <ul>
	                            <li class="planning-team">
	                                <div class="teamName">기획팀</div>
	                                <div class="emp">
	                                	<span class="empName" onclick="showEmployeeDetail('김도영')">김도영</span>	 
	                                	<span class="bar">|</span>
	                                	<span class="empRank">팀장</span>	
	                                </div>
	                                <div class="emp">
	                                	<span class="empName">손현준</span>	 
	                                	<span class="bar">|</span>
	                                	<span class="empRank">과장</span>
	                                </div>
	                                <div class="emp">
	                                	<span class="empName">임수현</span>	 
	                                	<span class="bar">|</span>
	                                	<span class="empRank">대리</span>	
	                                </div>
	                                <div class="emp">
	                                	<span class="empName" onclick="showEmployeeDetail('윤민석')">윤민석</span>	 
	                                	<span class="bar">|</span>
	                                	<span class="empRank">사원</span>
	                                </div>
	                            </li>
	                            <li class="stage-production-team">
	                                <div class="teamName">무대연출팀</div>
	                                <div class="emp">
	                                	<span class="empName" onclick="showEmployeeDetail('전용준')">전용준</span>
	                                	<span class="bar">|</span>
	                                	<span class="empRank">팀장</span>
	                                </div>
	                                <div class="emp">
	                                	<span class="empName">김준형</span>	 
	                                	<span class="bar">|</span>
	                                	<span class="empRank">대리</span>	
	                                </div>
	                                <div class="emp">
	                                	<span class="empName">염가은</span>	 
	                                	<span class="bar">|</span>
	                                	<span class="empRank">부장</span>
	                                </div>
	                                <div class="emp">
	                                	<span class="empName">이지훈</span>	 
	                                	<span class="bar">|</span>
	                                	<span class="empRank">차장</span>
	                                </div>
	                                <div class="emp">
	                                	<span class="empName">이현호</span>	 
	                                	<span class="bar">|</span>
	                                	<span class="empRank">사원</span>
	                                </div>
	                                <div class="emp">
	                                	<span class="empName" onclick="showEmployeeDetail('최재영')">최재영</span>
	                                	<span class="bar">|</span>
	                                	<span class="empRank">사원</span>
	                                </div>
	                            </li>
	                        </ul>
	                    </li>
	                </ul>
	            </li>
	        </ul>
	    </div>
	    <div class="tooltip" id="tooltip"></div>
	</main>
	</body>
</html>