<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MIRACLE</title>
    <link rel="stylesheet" href="/css/commons/common.css">
    <link rel="stylesheet" href="/css/user/login.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    	  rel="stylesheet" />
    <link rel="icon" href="/images/logo/favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <div class="logo">MIRACLE</div>
            <form class="login-form">
                <div class="form-group">
                    <label for="user-class">
                    	<i class="ri-account-circle-line"></i>
                        <select id="user-class" name="user-class">
                            <option value="user" selected>EMPLOYEE</option>
                            <option value="admin">ADMIN</option>
                        </select>
                    </label>
                </div>
                <div class="form-group">
                    <label for="user-id">
                        <i class="ri-user-line"></i>
                        <input type="text" name="email" placeholder="이메일을 입력하세요">
                    </label>
                </div>
                <div class="form-group">
                    <label for="user-password">
                        <i class="ri-lock-line"></i>
                        <input type="password" name="password" placeholder="비밀번호를 입력하세요">
                    </label>
                </div>
                <div id="error-msg">
                	아이디 또는 비밀번호가 잘못 입력되었습니다.
                </div>
                <button type="submit" class="login-button">로그인</button>
            </form>
        </div>
    </div>
</body>
</html>
