<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{views/commons/layout::layout(~{::head}, ~{::main})}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />    
    <link rel="stylesheet" href="/css/plan/write.css"> <!-- styles.css 경로 수정 -->
    <script defer src="/js/plan/write.js"></script> <!-- write.js 경로 -->
</head>

<main>
    <form action="/performance/plan" id="performanceForm" method="post" enctype="multipart/form-data">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div class="flex container">
            <div class="content-top">
                <div class="logo-preview">
                    <img id="logoPreview" src="/images/logo/m-logo.png" alt="Company Logo">
                </div>
                <div class="form-group">
                    <div class="image-preview">
                        <img id="imagePreview" src="#" alt="Image Preview" style="display: none;">
                    </div>
                    <!-- <input type="file" id="perPoster" name="perPoster" accept="image/*" style="display: none;" required> -->
                    <label for="perPoster" class="upload-label">포스터 (420mm x 594mm):</label>
                    <button type="button" class="upload-button" onclick="document.getElementById('perPoster').click();">파일 선택</button>
                </div>
                <div class="form-group">
                    <label for="perContent">기획의도:</label>
                    <textarea id="perContent" name="perContent" required></textarea>
                </div>
            </div>
            <div class="content-right">
                <h1 class="title">공연 기획서</h1>
                <p class="subtitle" style="color: #2e3d86">PERFORMANCE REPORT</p>
                <hr style="margin: 20px 0; margin-bottom: 20px;">
                <div class="form-group">
                    <label for="writeAt">작성일:</label>
                    <input type="date" id="writeAt" name="writeAt" required>
                </div>
                <div class="form-group">
                    <label for="employee">기획총괄:</label>
                    <input type="text" id="employee"  placeholder="기획자명" required> <!-- name="employee" -->
                </div>
                <div class="form-group">
                    <label for="perTitle">공연명:</label>
                    <input type="text" id="perTitle" name="perTitle" placeholder="공연명" required>
                </div>   
                <div class="form-group">
                    <label for="perType">장르:</label>
                    <select id="perType" name="perType" required>
                        <option value="" disabled selected>장르 선택</option>
                        <option value="MUSICAL">뮤지컬</option>
                        <option value="LECTURE">강연</option>
                        <option value="ROLEPLAY">연극</option>
                        <option value="CONCERT">콘서트</option>
                        <option value="MAGIC">마술</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="startAt">공연 시작일:</label>
                    <input type="date" id="startAt" name="startAt" required>
                </div>
                <div class="form-group">
                    <label for="finishAt">공연 종료일:</label>
                    <input type="date" id="finishAt" name="finishAt" required>
                </div>
                <div class="form-group">
                    <label for="location">장소:</label>
                    <input type="text" id="location" name="location" placeholder="장소 입력" required>
                </div>
                <div class="button-container">
                    <button type="submit">결재요청</button>
                    <button type="button" onclick="window.location.href='/performance/plan'">작성취소</button>
                </div>
            </div>
        </div>
    </form>
</main>
<footer>
</footer>
</html>
