<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MIRACLE</title>
    <link rel="stylesheet" href="/css/commons/common.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    	  rel="stylesheet"/>
    <link rel="icon" href="/images/logo/favicon.ico">
    <link rel="stylesheet" href="/css/commons/common.css">
    <link rel="stylesheet" href="/css/bot/bot-layout.css">
	<link rel="stylesheet" href="/css/bot/search-contact.css">
	
    <title>chatbot add</title>
</head>
<body>
    <div class="bot-container">
        <!-- 상단 메뉴바 -->
        <header>
            <div class="flex" id="c-header">
            	<section class="flex bot-menu">
            		<div><a href="/bot/hello"><i class="ri-home-2-line"></i></a></div>
            		<div class="flex">
	            		<span><i id="b-icon"></i></span>
	            		<span><b>Miraclebot</b></span>
            		</div>
            		<div onclick="btnCloseClicked()"><a href="/"><i class="ri-close-circle-line"></i></a></div>
            	</section>             
            </div>
        </header>
        <main>
            <!-- 대화내용 들어가는 영역 -->
            <div id="chat">
				<div class="message-container">
					<div id="icon">
						<img src="/images/bot/chatbot.png">
					</div>
					<div class="message">
						<p>부서를 선택해주세요.</p>
					</div>	
				</div>
				<div class="button-container">
					<button class="category" onclick="showMessage1()">영업팀</button>
					<button class="category" onclick="showMessage2()">마케팅팀</button>
					<button class="category" onclick="showMessage3()">기획팀</button>
					<button class="category" onclick="showMessage4()">무대연출팀</button>
				</div>
            </div>
            	<div class="flex contact" id="reqMessage1" style="display: none">
            		<div id="icon">
						<img src="/images/bot/chatbot.png">
					</div>
						<div class="message">
							<p>영업팀을 선택하셨군요. <br>이름을 입력해주세요.</p>
						</div>
            	</div>
            	<div class="flex contact" id="reqMessage2" style="display: none">
            		<div id="icon">
						<img src="/images/bot/chatbot.png">
					</div>
						<div class="message">
							<p>마케팅팀을 선택하셨군요. <br>이름을 입력해주세요.</p>
						</div>
            	</div>
            	<div class="flex contact" id="reqMessage3" style="display: none">
            		<div id="icon">
						<img src="/images/bot/chatbot.png">
					</div>
						<div class="message">
							<p>기획팀을 선택하셨군요. <br>이름을 입력해주세요.</p>
						</div>
            	</div>
            	<div class="flex contact" id="reqMessage4" style="display: none">
            		<div id="icon">
						<img src="/images/bot/chatbot.png">
					</div>
						<div class="message">
							<p>공연기획팀을 선택하셨군요. <br>이름을 입력해주세요.</p>
						</div>
            	</div>
        </main>
        <!-- 하단 채팅창 -->
        <footer>
            <div class="btm">
                <span>
                    <input type="text" id="question" placeholder="질문을 입력해보세요.">
                 </span>
                 <span>
                    <button class="btn-send" onclick="btnMsgSendClicked()"></button>
                </span>
            </div>
        </footer>
    </div>
</body>
<script src="/js/bot/botjs.js"></script>
</html>