<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{views/commons/layout::layout(~{::head}, ~{::main})}">

<head>
	<meta charset="UTF-8">
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
	<link rel="stylesheet" href="/css/board/detail.css">
	<title>Insert title here</title>

	<script type="text/javascript">
		function btnDeleteClicked() {
			return confirm("정말로 삭제하시겠습니까?"); // true|false
		}
	</script>

	<script type="text/javascript">
		function btnUpdateClicked() {
			document.querySelector("#default-mode").style.display = 'none';
			//JQuery 사용 가능하다면 : $("#default-mode").hide();
			document.querySelector("#update-mode").style.display = 'block';
			//$("#update-mode").show();
		}
		function btnCancelClicked() {
			document.querySelector("#default-mode").style.display = 'block';
			document.querySelector("#update-mode").style.display = 'none';
		}
	</script>
</head>

<main>
	<div class="content">
		<!-- Left section -->
		<div class="left-box">
			<p class="sub-title flex center">공지사항</p>
			<th:block th:insert="~{views/board/sub-menu}" />
		</div>

		<!-- Right section -->
		<div class="right-section">
			<div id="default-mode">
				<ul>
					<li th:text="${detail.boardNo}" class="update-post-no">번호</li>
					<li th:text="${detail.boardTitle}" class="update-post-title">제목</li>
					<li>
						<dl class="update-post-date">
							<dt>최종 수정일</dt>
							<dd th:text="${detail.writeAt}"></dd>
						</dl>
					</li>
					<li th:utext="${detail.boardContent}" class="update-post-content">내용</li>
					<li>
						<div>
							<button class="update-btn" onclick="btnUpdateClicked()">수정</button>
							<form th:action="|/boards/${detail.boardNo}|" onsubmit="return btnDeleteClicked()"
								method="post" style="display: inline;">
								<input type="hidden" name="_method" value="delete">
								<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
								<button class="delete-btn">삭제</button>
							</form>
						</div>
					</li>
				</ul>
			</div>

			<!-- 수정모드 -->
			<form id="update-mode" th:action="|/boards/${detail.boardNo}|" method="post" style="display: none;">
				<input type="hidden" name="_method" value="put">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<ul>
					<li th:text="${detail.boardNo}" class="update-post-no">번호</li>
					<li class="update-post-title">
						<input name="boardTitle" type="text" th:value="${detail.boardTitle}" class="update-input-title">
					</li>
					<li>
						<dl class="update-post-date">
							<dt>최종 수정일</dt>
							<dd th:text="${detail.writeAt}"></dd>
						</dl>
					</li>
					<li>
						<textarea name="boardContent" class="update-post-content"
							th:utext="${detail.boardContent}"></textarea>
					</li>
					<li>

						<button type="submit" class="update-btn">수정완료</button>
						<button type="button" onclick="btnCancelClicked()" class="delete-btn">취소</button>
					</li>
				</ul>
			</form>
		</div>
	</div>
</main>

</html>