<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      th:replace="~{views/commons/layout::layout(~{::head}, ~{::main})}">
<head>
	<link rel="stylesheet" href="/css/board/board.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<meta charset="UTF-8">
<title>Notice</title>
</head>
<main>
	 <div class="content">
		<!-- Left section -->
		<div class="left-box">
			<p class="sub-title flex center">게시판</p>
			<th:block th:insert="~{views/commons/sub-menu}" />
		</div>

        <!-- Right section -->
        <div class="right-section">
        	<h2>HOME > 게시판</h2>
            <div class="content_main_box">
                <h4>게시판</h4>
	                <div id="content-box" class="container">
	                		<form>
			       	 			<div class="search-wrap">
			       	 					
			           					<input id="search" type="search" placeholder="검색어를 입력해주세요.">
			            				<button class="btn" type="submit">검색</button>
			        			</div>
		        			</form>
					        <table>
					            <thead>
					                <tr class="post-body">
					                    <th class="no">번호</th>
					                    <th>제목</th>
					                    <th>작성자</th>
					                    <th>작성일자</th>
					                    <th>조회수</th>
					                </tr>
					            </thead>
					            <tbody>
					            	<tr class="post-body">
					                    <td>1</td>									
					                    <td>
											<ul>
												<li>
													<a href="">게시판 안내입니다. 이용해주셔서 감사합니다</a>
												</li>
											</ul>
										</td>
					                    <td>김도영</td>
					                    <td>2024.07.12</td>
					                    <td>2</td>
					                </tr>
					                <tr class="post-body">
					                    <td>2</td>
					                    <td>[게시판] 개인정보 처리방침 변경안내처리방침</td>
					                    <td>박태주</td>
					                    <td>2024.07.11</td>
					                    <td>3</td>
					                </tr>
					                <tr	class="post-body">
					                    <td>3</td>
					                    <td>게시판 안내입니다. 이용해주셔서 감사합니다</td>
					                    <td>전용준</td>
					                    <td>2024.07.10</td>
					                    <td>4</td>
					                </tr>
					                <tr	class="post-body">
					                    <td>4</td>
					                    <td>게시판 안내입니다. 이용해주셔서 감사합니다</td>
					                    <td>유해리</td>
					                    <td>2024.07.10</td>
					                    <td>5</td>
					                </tr>
					                <tr class="post-body">
					                    <td>5</td>
					                    <td>게시판 안내입니다. 이용해주셔서 감사합니다</td>
					                    <td>윤민석</td>
					                    <td>2024.07.09</td>
					                    <td>5</td>
					                </tr>
					                
					            </tbody>
					       </table>
	    		</div>
            </div>
        </div>
        
    </div>
</main>
</html>