<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      th:replace="~{views/commons/layout::layout(~{::head}, ~{::main})}">
<head>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- jQuery UI Datepicker -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
	<link rel="stylesheet" href="/css/board/board.css"> 
	
	<script>
        $(function() {
            $("#datepicker").datepicker({
                dateFormat: 'yy-mm-dd', // 선택된 날짜의 형식
                showButtonPanel: true, // 버튼 패널 보이기
                onSelect: function(dateText, inst) {
                    $('#selectedDate').val(dateText); // 선택된 날짜를 히든 필드에 설정
                    $('#datepicker').hide(); // 날짜 선택 후 달력 숨기기
                }
            });

            $('#datePickerButton').click(function() {
                $('#datepicker').toggle(); // 달력 토글(show/hide)
            });
        });
    </script>
	
<meta charset="UTF-8">
<title>Notice</title>
</head>
<main>
	<div class="flex container">
		<!-- 좌측메뉴 -->
		<section class="content-left">
			<div class="left-box">
				<p class="sub-title flex center">게시판</p>
				<th:block th:insert="~{views/plan/list-menu}" />
			</div>
		</section>
		<section class="content-right">
			<div class="location">HOME > 게시판</div>
			<div id="content-box">
				<div class="list-name">게시판</div>
				<form id="search-form">
					<div class="search-wrap">
						<input id="search" type="search" placeholder="검색어를 입력해주세요.">
						<button class="btn" type="submit">검색</button>
					</div>
				</form>
				<table>
					<thead>
						<tr class="post-body">
							<th class="no">번호</th>
							<th>제목</th>
							<th>작성자</th>
							<th>작성일자</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th th:each="dto : ${list}">
							<td ></td>
							</th>
						</tr>
					</tbody>
				</table>
			</div>
	</div>
	</section>
	</div>
</main>
</html>