body{
	font-family: "Noto Sans KR", sans-serif;
}

.details-card {
   display: flex;
    align-items: center;
    border: 1px solid var(--main-navy);
    border-radius: 8px;
    padding: 16px;
    width: 400px; /* 최대 너비 조정 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.details-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 16px;
}

.details-info {
    display: flex;
    flex-direction: column;
}

.details-info div {
    margin-bottom: 8px;
}

.details-info .name, .department {
    font-size: 18px;
    font-weight: bold;
}

#font {
    font-size: 14px;
}

.tooltip {
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: none;
    z-index: 999;
    /* 원하는 위치로 조정 */
    top: 18%;
    left: 85%;
    transform: translateX(-50%);
    transition: opacity 0.3s ease;
    opacity: 0; /* 기본 투명도 */
    
}

.tooltip.show-tooltip {
    display: block;
    opacity: 1; /* 보일 때는 불투명하게 */
}

.empName {
    cursor: pointer; /* 포인터 커서 추가 */
}
.details-card {
    position: relative; /* position 추가 */
    /* 나머지 스타일 유지 */
}

.details-card button {
    position: absolute; /* 위치를 절대적으로 설정 */
    top: 10px; /* 상단 여백 */
    right: 10px; /* 오른쪽 여백 */
    padding: 5px 10px;
    background-color: var(--main-navy);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

