<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      th:replace="~{views/commons/layout::layout(~{::head}, ~{::main})}">
<head>
    <script defer src="/js/approval/list.js"></script>
    <link rel="stylesheet" href="/css/approval/list.css">
    <meta charset="UTF-8">
    <title>Plan List</title>
</head>
<main>
    <div class="flex container">
        <!-- 좌측메뉴 -->
        <section class="content-left">
            <div class="left-box">
                <p class="sub-title">결재보류</p>
                <th:block th:insert="~{views/approval/list-menu}" />
            </div>
        </section>
        <section class="content-right">
			<div class="location">HOME > 결재보류</div>
                <div id="content-box">
					<div class="list-name">결재보류</div>
                    <form id="search-form">
                        <div class="search-wrap">
                            <input id="search" type="search" placeholder="검색어를 입력해주세요.">
                            <button class="btn" type="submit">검색</button>
                        </div>
                    </form>
                    <table>
                        <thead>
                            <tr class="post-body">
                                <th class="no">번호</th>
                                <th>프로젝트명</th>
                                <th>기획자</th>
                                <th>작성일자</th>
                            </tr>
                        </thead>
                        <tbody id="plan-list">
							<tr th:each="plan : ${plans}">
                                <td th:text="${plan.planNo}"></td>
                                <!--<td><a th:href="@{/admin/approval/plan/{plan_no}(plan_no=${plan.planNo})}" class="plan-name" th:text="${plan.perTitle}"></a></td>-->
                                <td><a th:href="|/admin/approval/plan/hold/${plan.planNo}|" class="plan-name" th:text="${plan.perTitle}"></a></td>
                                <td th:text="${plan.employee.name}"></td>
                                <td th:text="${plan.writeAt}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</main>
</html>
