<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{views/commons/layout::layout(~{::head}, ~{::main})}">
<head>
    <link rel="stylesheet" href="/css/approval/view.css">
    <script src="/js/approval/view.js"></script>
</head>
<body>
    <main>
        <div class="flex container">
            <div class="content-top">
                <div class="logo-preview">
                    <img id="logoPreview" src="/images/logo/m-logo.png" alt="Company Logo">
                </div>
                <div class="form-group">
                    <div class="image-preview">
                        <img id="imagePreview" src="/images/poster/poster2.jpg" alt="Image Preview" style="display: block;">
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">기획의도:</label>
                    <p id="description"><span th:text="${plan.perContent}"></span></p>
                </div>
            </div>
            <div class="content-left">
                <h1 class="title">공연 기획서</h1>
                <p class="subtitle" style="color: #2e3d86">PERFORMANCE REPORT</p>
                <hr style="margin: 20px 0; margin-bottom: 20px;">
                <div class="form-group">
                    <label for="date">작성일:</label>
                    <p id="date"><span th:text="${plan.writeAt}"></span></p>
                </div>
                <div class="form-group">
                    <label for="planner">기획총괄:</label>
                    <p id="planner"><span th:text="${plan.employee.name}"></span></p>
                </div>
                <div class="form-group">
                    <label for="title">공연명:</label>
                    <p id="title"><span th:text="${plan.perTitle}"></span></p>
                </div>
                <div class="form-group">
                    <label for="genre">장르:</label>
                    <p id="genre"><span th:text="${plan.perType}"></span></p>
                </div>
                <div class="form-group">
                    <label for="startDate">공연 시작일:</label>
                    <p id="startDate"><span th:text="${plan.startAt}"></span></p>
                </div>
                <div class="form-group">
                    <label for="endDate">공연 종료일:</label>
                    <p id="endDate"><span th:text="${plan.finishAt}"></span></p>
                </div>
                <div class="form-group">
                    <label for="location">장소:</label>
                    <p id="location"><span th:text="${plan.location}"></span></p>
                </div>
                <div class="button-container flex">
                    <button type="button" id="approvalButton" class="submit-button">결재승인</button>
                    <button type="button" id="approvalButton" class="submit-button">결재보류</button>
                </div>
                <!-- 데이터 업데이트를 위한 폼 -->
			    <form th:action="@{/update/{id}(id=${data.id})}" method="post">
			        <input type="hidden" name="id" th:value="${data.id}" /><!-- 데이터 ID -->
			        <input type="hidden" name="newValue" value="1" /><!-- 새로운 int 값 -->
			        <button type="submit">Update Value</button><!-- 제출 버튼 -->
			    </form>
            </div>
        </div>
    </main>
    <footer>
    </footer>
</body>
</html>
