<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{views/commons/layout::layout(~{::head}, ~{::main})}">
<head>
    <link rel="stylesheet" href="/css/approval/view.css">
    <script src="/js/approval/view.js"></script>
</head>
<body>
    <main>
        <div class="flex container">
            <div class="content-top">
                <div class="logo-preview">
                    <img id="logoPreview" src="/images/logo/m-logo.png" alt="Company Logo">
                </div>
                <div class="form-group">
                    <div class="image-preview">
                        <img id="imagePreview" src="/path/to/saved/image.jpg" alt="Image Preview" style="display: block;">
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">기획의도:</label>
                    <p id="description">여기에 저장된 기획의도가 표시됩니다.</p>
                </div>
            </div>
            <div class="content-left">
                <h1 class="title">공연 기획서</h1>
                <p class="subtitle" style="color: #2e3d86">PERFORMANCE REPORT</p>
                <hr style="margin: 20px 0; margin-bottom: 20px;">
                <div class="form-group">
                    <label for="date">작성일:</label>
                    <p id="date">2024-07-15</p>
                </div>
                <div class="form-group">
                    <label for="planner">기획총괄:</label>
                    <p id="planner">기획자명</p>
                </div>
                <div class="form-group">
                    <label for="title">공연명:</label>
                    <p id="title">공연명</p>
                </div>
                <div class="form-group">
                    <label for="genre">장르:</label>
                    <p id="genre">뮤지컬</p>
                </div>
                <div class="form-group">
                    <label for="startDate">공연 시작일:</label>
                    <p id="startDate">2024-08-01</p>
                </div>
                <div class="form-group">
                    <label for="endDate">공연 종료일:</label>
                    <p id="endDate">2024-08-31</p>
                </div>
                <div class="form-group">
                    <label for="location">장소:</label>
                    <p id="location">서울</p>
                </div>
                <div class="button-container">
                    <button type="button" id="approvalButton" class="submit-button">결재승인</button>
                </div>
            </div>
        </div>
    </main>
    <footer>
    </footer>
</body>
</html>
