<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(pHead,pMain)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MIRACLE</title>
    <link rel="stylesheet" href="/css/commons/common.css">
    <link rel="stylesheet" href="/css/commons/layout.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    	  rel="stylesheet" />
    <link rel="icon" href="/images/logo/favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/sockjs-client/sockjs.min.js"></script>
	<script src="/webjars/stomp-websocket/stomp.min.js"></script>
    
    <th:block th:replace="${pHead}" />
</head>
<body>
	<div id="header">
		<div class="header-left">
			<div class="logo">MIRACLE</div>
		</div>
		<div class="header-right">
			<div class="user-info">
				<i class="ri-account-circle-line"></i>
				<a href="/mypage" class="username">홍길동</a>
			</div>
		</div>
	</div>
	<nav id="sidebar">
		<ul>
			<li><a href="/"><i class="ri-home-5-line"></i> <span>HOME</span></a></li>
			<li><a href="/notices"><i class="ri-community-line"></i> <span>게시판</span></a></li>
			<li><a href="/schedule"><i class="ri-calendar-2-line"></i> <span>개인일정</span></a></li>
			<li><a href="/performance/plan"><i class="ri-calendar-schedule-line"></i> <span>공연기획</span></a></li>
			<li><a href="/email"><i class="ri-mail-line"></i><span>메일함</span></a></li>
			<li><a href="/hr"><i class="ri-account-box-line"></i> <span>조직도</span></a></li>
			<li><a href="/admin/approval/plan"><i class="ri-clipboard-line"></i> <span>전자결재</span></a></li>
			<li><a href="/logout"> <i class="ri-logout-box-r-line"></i><span>로그아웃</span></a></li>
		</ul>
	</nav>
	<main th:replace="${pMain}"></main>
	<!-- ////////////////////////////////////////////////챗봇영역///////////////////////////////////////////////////////////////////// -->
	<footer>
		<button class="chatbot-toggler">
		<span class="material-symbols-outlined" ><i class="ri-chat-1-fill"></i></span>
		<span class="material-symbols-outlined"><i class="ri-close-fill"></i></span>
		</button>
    
    <div class="flex" id="bot-container">
        <!-- 상단 메뉴바 -->
        <section class="header" id="bot-header" >
            <div class="flex">
            	<section class="flex" id="bot-menu">
            		<div class="flex">
	            		<span><i id="b-icon"></i></span>
	            		<span><b>Miraclebot</b></span>
	     
            		</div>
            		
            	</section>             
            </div>
        </section>
        <main id="bot-main">
            <!-- 대화내용 들어가는 영역 -->
            <div id="chat">
            <section class="chat-top">
				<div id="current_date">
  					<script>
        				const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
        				document.getElementById("current_date").innerHTML = new Date().toLocaleDateString('ko-KR', options);
    				</script>
				</div>
			</section>
				<div class="message-container">
				
					<div id="bot-icon">
						<img src="/images/bot/chatbot.png">
					</div>
					<div class="bot-message">
						<p>안녕하세요? 미라클봇입니다.</p>
						<p>카테고리를 선택해주세요.</p>
					</div>	
				</div>
				<div class="button-container">
					<button class="bot-category" id="showContact">연락처 알려줘</button>
					<button class="bot-category" id="showSchedule">일정 알려줘</button>
					<button class="bot-category" id="showNotice">공지사항 알려줘</button>
				</div>
            </div>
       
		<!-- 연락처 이름 입력 요청 -->
			<div class="message-container1" style="display: none">
				<div id="bot-icon">
					<img src="/images/bot/chatbot.png">
				</div>
				<div class="bot-message">
					<p>이름을 입력해주세요.</p>
				</div>	
			</div>

           <!-- 일정 종류 입력 요청 -->
           <div id="chat">
				<div class="message-container2" style="display: none">
					<div id="bot-icon">
						<img src="/images/bot/chatbot.png">
					</div>
					<div class="bot-message" >
						<p>어떤 일정이 궁금하세요?</p>
					</div>	
				</div>
				<div class="button-container schedules-buttons" style="display: none">
					<button class="bot-category" onclick="showMessage5()">오늘의 일정</button>
					<button class="bot-category" onclick="showMessage6()">공연 일정</button>
				</div>
            </div>
            	<div class="flex" id="scheduleAnswer1" style="display: none">
            		<div id="bot-icon">
						<img src="/images/bot/chatbot.png">
					</div>
						<div class="bot-message">
							<p>오늘의 일정을 알려드릴게요.</p>
						</div>
            	</div>
            	<div class="flex" id="scheduleAnswer2" style="display: none">
            		<div id="bot-icon">
						<img src="/images/bot/chatbot.png">
					</div>
						<div class="bot-message">
							<p>공연 일정을 알려드릴게요.</p>
						</div>
            	</div>
            	
				<!-- 공지사항 클릭후 메세지 -->
				<div class="message-container3" style="display: none">
					<div id="bot-icon">
						<img src="/images/bot/chatbot.png">
					</div>
					<div class="bot-message">
						<p>공지사항 키워드를 입력해주세요.</p>
					</div>
				</div>
				
				<!-- 입력메세지가 출력되는 부분 -->
				<div id="messageDisplay"></div>
				<div id="serverBotMessage" class="server-message-container"></div>
			</main>
			
        <!-- 하단 채팅창 입니다. -->
        <section class="footer" id="bot-footer">
            <div class="btm">
                <span>
                    <input type="text" id="question" placeholder="질문을 입력해보세요.">
                 </span>
                 <span>
                    <button class="btn-send" onclick="btnMsgSendClicked()"><i class="ri-send-plane-2-fill"></i></button>
                </span>
            </div>
        </section>
    </div>
	</footer>
	<script src="/js/bot/botjs.js"></script>
</body>
</html>