<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
th:fragment="layout(pHead,pMain)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MIRACLE</title>
    <link rel="stylesheet" href="/css/commons/common.css">
    <link rel="stylesheet" href="/css/commons/layout.css">
    <link rel="stylesheet" href="/css/bot/bot-layout.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="icon" href="/images/logo/favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/sockjs-client/sockjs.min.js"></script>
	<script src="/webjars/stomp-websocket/stomp.min.js"></script>
    
    <meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />

    <th:block th:replace="${pHead}" />
</head>
<body>
	<div id="header">
		<div class="header-left">
			<a class="logo" href="/">MIRACLE</a>
		</div>
		<div class="header-right">
			<div class="user-info">
				<i class="ri-time-line" id="time-icon"></i>
				<span>자동 로그아웃</span>
				<span id="remaining-time" th:text="${remainingTime}"></span>
				<i class="ri-account-circle-line"></i>
				<a sec:authorize="!hasRole('ROLE_ADMIN')" href="/mypage" class="username" th:text="${emp.name}">사원이름</a>
				<a sec:authorize="hasRole('ROLE_ADMIN')" class="username" th:text="${emp.name}">사원이름</a>
			</div>
		</div>
	</div>
	<nav id="sidebar">
		<ul>
			<li><a href="/"><i class="ri-home-5-line"></i> <span>HOME</span></a></li>
			<li><a href="/notices"><i class="ri-community-line"></i> <span>게시판</span></a></li>
			<li><a href="/schedule"><i class="ri-calendar-2-line"></i> <span>개인일정</span></a></li>
			<li><a href="/performance/plan"><i class="ri-calendar-schedule-line"></i> <span>공연기획</span></a></li>
			<li><a th:href="@{'https://auth.worksmobile.com/oauth2/v2.0/authorize?client_id=' + ${@environment.getProperty('naver.client.id')} + '&redirect_uri=' + ${@environment.getProperty('naver.client.redirect-uri')} + '&scope=' + ${@environment.getProperty('naver.client.scope')} + '&response_type=code&state=mail.read'}"><i class="ri-mail-line"></i><span>메일함</span></a></li>
			<li><a href="/hr"><i class="ri-account-box-line"></i> <span>조직도</span></a></li>
			<li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin/approval/plan/request"><i class="ri-clipboard-line"></i> <span>전자결재</span></a></li>
			<li sec:authorize="!hasRole('ROLE_ADMIN')" onclick="alert('해당 페이지에 들어갈 권한이 없습니다.'); return false;"><a><i class="ri-clipboard-line"></i> <span>전자결재</span></a></li>
			<li><a href="/logout"> <i class="ri-logout-box-r-line"></i><span>로그아웃</span></a></li>
		</ul>
	</nav>
	<script src="/js/commons/layout.js"></script>
	<main th:replace="${pMain}"></main>
	
	<!-- ////////////////////////////////////////////////챗봇영역///////////////////////////////////////////////////////////////////// -->
	<footer>
		<button class="chatbot-toggler">
		<span class="material-symbols-outlined" ><i class="ri-chat-1-fill"></i></span>
		<span class="material-symbols-outlined"><i class="ri-close-fill"></i></span>
		</button>
    
    <div class="flex" id="bot-container">
        <!-- 상단 메뉴바 -->
        <section class="header" id="bot-header" >
            <div class="flex">
            	<section class="flex" id="bot-menu">
            		<div class="flex">
	            		<span><i id="b-icon"></i></span>
	            		<span><b>Miraclebot</b></span>
            		</div>
            	</section>             
            </div>
        </section>
        <!-- 대화내용 들어가는 영역 -->
        
        <div id="bot-main">	
        	


		</div>
        <!-- 하단 채팅창 입니다. -->
        <section class="footer" id="bot-footer">
            <div class="btm">
                <span>
                    <input type="text" id="question" placeholder="질문을 입력해보세요.">
                 </span>
                 <span>
                    <button class="btn-send" onclick="btnMsgSendClicked()"><i class="ri-send-plane-2-fill"></i></button>
                </span>
            </div>
        </section>
    </div>
	</footer>
	<script src="/js/bot/botjs.js"></script>
</body>
</html>