<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{views/commons/layout::layout(~{::head}, ~{::main})}">

<head>
    <link rel="stylesheet" href="/css/schedule/calendar.css">
    <script src="/js/schedule/calendar.js"></script>
</head>

<main>
    <div class="title">
        <h1>개인일정</h1>
    </div>
    <div class="container">
        <header class="content-header flex center">
            <button class="prev image-button"><i class="ri-arrow-left-s-line"></i></button>
            <h2 class="main-date"></h2>
            <button class="next image-button"><i class="ri-arrow-right-s-line"></i></button>
        </header>
        <section class="content-left calendar">
            <div class="calendar-header">
                <div class="day-header">일</div>
                <div class="day-header">월</div>
                <div class="day-header">화</div>
                <div class="day-header">수</div>
                <div class="day-header">목</div>
                <div class="day-header">금</div>
                <div class="day-header">토</div>
            </div>
            <div class="calendar-body">
                <!-- 실제 날짜가 들어갈 공간 -->
            </div>
        </section>
        <section class="content-right">
            <div class="content-right-msg">
				<!--
                <div class="selected-date">
                    <p>선택한 날짜: <span th:text="${date}"></span></p>
                </div>
                <div class="date-selection">
                    <form th:action="@{/schedule/save}" method="post" onsubmit="return saveMemo()">
                        <input type="hidden" id="schNo" name="schNo" th:value="${dto.schNo}">
                        <label for="start-date">시작일:</label>
                        <input type="date" id="start-date" name="startAt"
                               th:value="${#dates.format(dto.startAt, 'yyyy-MM-dd')}" required>
                        <label for="end-date">종료일:</label>
                        <input type="date" id="end-date" name="finishAt"
                               th:value="${#dates.format(dto.finishAt, 'yyyy-MM-dd')}" required>
                    </form>
                </div>
                <hr>
                <div class="memo-section">
                    <label for="memo-title">메모 제목:</label>
                    <input type="text" id="memo-title" name="schTitle" th:value="${dto.schTitle}"
                           placeholder="메모 제목 입력" required>
                    <label for="memo-content">메모 내용:</label>
                    <textarea id="memo-content" name="schContent" placeholder="메모 내용 입력" required
                              th:text="${dto.schContent}"></textarea>
                    <button id="save-memo" type="submit">메모 저장</button>
                </div>
                -->
            </div>
        </section>
    </div>
</main>

<script src="/js/schedule/calendar.js"></script>
</html>
