<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{views/commons/layout::layout(~{::head}, ~{::main})}">

<head>
    <link rel="stylesheet" href="/css/schedule/calendar.css">
    <script src="/js/schedule/calendar.js" defer></script>
</head>

<main>
    <div class="title">
        <h1>개인일정</h1>
    </div>
    <div class="container">
        <header class="content-header flex center">
            <button class="prev image-button"><i class="ri-arrow-left-s-line"></i></button>
            <h2 class="main-date"></h2>
            <button class="next image-button"><i class="ri-arrow-right-s-line"></i></button>
        </header>
        <section class="content-left calendar">
            <div class="calendar-header">
                <div class="day-header">일</div>
                <div class="day-header">월</div>
                <div class="day-header">화</div>
                <div class="day-header">수</div>
                <div class="day-header">목</div>
                <div class="day-header">금</div>
                <div class="day-header">토</div>
            </div>
            <div class="calendar-body">
                <!-- 실제 날짜가 들어갈 공간 -->
            </div>
        </section>
        <section class="content-right">
            <div class="content-right-msg">
                <div class="selected-date">
                    <p>선택한 날짜: <span id="selected-date"></span></p>
                </div>
                
                <form id="memo-form" th:each="schedule: ${schedules}">
				    <input type="hidden" id="action-mode" name="actionMode" value="save">
				    <label for="start-date">시작일:</label>
				    <input th:value="${schedule.startAt}" type="date" id="start-date" name="startAt" required>
				    <label for="end-date">종료일:</label>
				    <input th:value="${schedule.finishAt}" type="date" id="end-date" name="finishAt" required>
				    <hr>
				    <div class="memo-section">
				        <label for="memo-title">메모 제목:</label>
				        <input th:value="${schedule.schTitle}" type="text" id="memo-title" name="schTitle" placeholder="메모 제목 입력" required>
				        <label for="memo-content">메모 내용:</label>
				        <textarea th:text="${schedule.schContent}" id="memo-content" name="schContent" placeholder="메모 내용 입력" required></textarea>
				        <button id="save-memo" type="submit">메모 저장</button>
				    </div>
				</form>

                
            </div>
        </section>
    </div>
</main>

<script src="/js/schedule/calendar.js" defer></script>
</html>
