@charset "UTF-8";

.chatbot-toggler {
	position: fixed;
	right: 40px;
	bottom: 35px;
	height: 50px;
	width: 50px;
	color: white;
	border: none;
	display: flex;
	align-content: center;
	outline: none;
	cursor: pointer;
	background: var(--sub-navy);
	border-radius: 50%;
	transition: all 0.2s ease;
}

.show-chatbot .chatbot-toggler {
	transform: rotate(90deg);
}

.chatbot-toggler>span{
	position: absolute;

}
.chatbot-toggler>span>i{
	display: flex;
	margin-left: 4px;
	margin-top: 7px;
	text-align: center;
	font-size:30px;
}
.show-chatbot .chatbot-toggler span:first-child,
.chatbot-toggler span:last-child {
	opacity: 0;
}

.show-chatbot .chatbot-toggler span:last-child {
	opacity: 1;
}

#bot-container{
	display: grid;
	position: fixed;
	right: 40px;
	bottom: 100px;
    width: 362px;
    transform: scale(0.5);
    opacity: 0;
    pointer-events: none;
    overflow: hidden; /* 크기에 넘치는부분은 숨기기 */
    border: solid var(--sub-navy) 2px;
    border-radius: 5.5px;
    transform-origin: bottom right;
    box-shadow: 0 32px 64px -48px rgb(0,0,0,0.5);	
    transition: all 0.1s ease;
}

.show-chatbot #bot-container {
	transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}


#bot-header>div{
	width: 100%;
	justify-content: center;
    align-items: center;
    height: 38px;
    background-color:var(--sub-navy);
    color: white;
    padding: 0 15px;
    border-radius: 3px 3px 0 0;
    font-size: 24px;
}

.bot-menu{
	width: 100%;
	justify-content: space-between;
}

.bot-menu>div>a>i{
	color: white;
}


#b-icon{
	display:flex;
	align-items: center;
	margin-top: 3px;
	width:30px;
	height:30px;
	background-size: cover;
	background-image: url('/images/bot/chatbot.png')
	
}

#bot-main {
	width: 100%;
    height: 450px;
	background-color:white;
	margin-top: 10px;
	
}
#bot-main>#chat>.chat-top{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

#current_date{
	text-align: center;
	width: 180px;
	background-color: var(--main-navy);
	border-radius: 80px;
	font-size: 14px;
	color: white;
}

.message-container{
	display: flex;
}

#bot-icon img{
	width: 30px;
	height: 30px;
	margin: 0 10px;
	
}

.bot-message{
	display: flex;
	flex-direction: column;
	background-color: var(--sub-navy);
	color: #333333;
	max-width:270px;
	padding: 6px 10px;
	text-align: left;
	letter-spacing: -0.5px;
	margin-bottom: 5px;
	border-radius: 5px;
	box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
	font-size: 14px;
}


.button-container {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 5px; /* 버튼 사이의 간격 설정 */
    margin-top: 10px; /* 상단 여백 */
    margin-left: 40px;
}
/* 버튼 스타일링 */
.bot-category {
	width: 150px;
    background-color: white; /* 배경색 */
    color: #333333; /* 글자색 */
    padding: 10px 10px; /* 여백 */
    text-align: center; /* 텍스트 가운데 정렬 */
    text-decoration: none; /* 텍스트 밑줄 제거 */
    display: inline-block; /* 인라인 블록 요소로 설정 */
    font-size: 14px; /* 폰트 크기 */
    cursor: pointer; /* 마우스 커서 변경 */
    border: solid 2px var(--sub-navy); /* 테두리 제거 */
    border-radius: 30px; /* 모서리 둥글게 */
}

/* 버튼 호버 효과 */
.bot-category:hover {
    background-color: var(--sub-navy); /* 호버 시 배경색 변경 */
}


#bot-footer {
    border-top: solid var(--main-navy) 1.5px;
    background-color: #fff;
	padding: 0;
	margin: 0;
}

#bot-footer>.btm{
	width: 100%;
    display: inline-flex;
    position: relative;
    align-items: center;
}

#question{
    width: 310px;
    height: 35px;
    border: none;
    position: relative;
}

input#question:focus {
    outline: none;
}

#messagePart {
	display: flex;
	flex-direction: column;
	background-color: var(--sub-navy);
	color: #333333;
	max-width:270px;
	padding: 6px 10px;
	text-align: right;
	letter-spacing: -0.5px;
	margin-bottom: 5px;
	border-radius: 5px;
	box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
	font-size: 14px;
}

.btn-send{
	display: flex;
	justify-content: center;
	align-items: center;
    width: 40px;
    height: 30px;
    background-color: white;
	color: var(--sub-navy);
    border: none;
    font-size: 18px;
}