<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{views/commons/layout::layout(~{::head}, ~{::main})}">

<head>
	<link rel="stylesheet" href="/css/notice/notice.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<!-- jQuery UI Datepicker -->
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	

	<script>
		$(function () {
			$("#datepicker").datepicker({
				dateFormat: 'yy-mm-dd', // 선택된 날짜의 형식
				showButtonPanel: true, // 버튼 패널 보이기
				onSelect: function (dateText, inst) {
					$('#selectedDate').val(dateText); // 선택된 날짜를 히든 필드에 설정
					$('#datepicker').hide(); // 날짜 선택 후 달력 숨기기
				}
			});

			$('#datePickerButton').click(function () {
				$('#datepicker').toggle(); // 달력 토글(show/hide)
			});
		});
	</script>

	<meta charset="UTF-8">
	<title>Notice</title>
</head>
<main>
	<div class="content">
		<!-- Left section -->
		<div class="left-box">
			<p class="sub-title flex center">공지사항</p>
			<th:block th:insert="~{views/board/sub-menu}" />
		</div>


		<!-- Right section -->
		<div class="right-section">
			<h2>HOME > 공지사항</h2>
			<div class="content_main_box">
				<h4>공지사항</h4>
				<div id="content-box" class="container">
					<form>
						<div class="search-wrap">
							<div class="datepicker-wrap">
								<input type="text" id="selectedDate" placeholder="날짜를 선택하세요." readonly>
								<button type="button" id="datePickerButton"><i class="ri-calendar-2-line"
										style="font-size: 30px"></i></button>
								<div id="datepicker"></div>
							</div>
							<input id="search" type="search" placeholder="검색어를 입력해주세요.">
							<button class="btn" type="submit"><i class="ri-search-line"
									style="font-size: 24px"></i></button>
						</div>
					</form>

					<ul id="notice-table">
						<li class="post-title">
							<span class="no" id="notice-tbody">번호</span>
							<span id="notice-tbody" class="post-subtitle">제목</span>
							<span id="notice-tbody" class="writer">작성자</span>
							<span id="notice-tbody" class="post-date">작성일자</span>
						</li>
						<li th:each="dto : ${list}" class="post-body">
							<span th:text="${dto.noticeNo}" id="notice-tbody">글번호</span>
							<span id="notice-tbody">
								<a th:href="|/notices/${dto.noticeNo}|" th:text="${dto.noticeTitle}">제목</a>
							</span>
							<span th:text="${dto.employee.getName}" id="notice-tbody">작성자</span>
							<span th:text="${dto.writeAt}" id="notice-tbody">작성일자</span>
						</li>
						<li th:if="${#lists.isEmpty(list)}" class="post-body">
							게시글이 존재하지 않습니다.
						</li>
					</ul>
					<div>
						<button sec:authorize="hasRole('ROLE_ADMIN')" class="write-btn"><a href="/admin/notices/form">글쓰기</a></button>
					</div>
					
				</div>
			</div>
		</div>

	</div>
</main>

</html>