@charset "UTF-8";
.admin {
    font-family: "Noto Sans KR", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}

.orgChart .dep, .teams {
    padding-top: 20px;
    position: relative;
    list-style-type: none;
    margin: 0;
}

.orgChart .node, .depLi, .teamLi {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 5px 0 5px;
    position: relative;
    margin-bottom: 100px;
}

/*////////////////////////////////border 선으로 조직도 트리 표현 구역 */

/* ///////////////////////////// */


.title {
    position: absolute;
    top: 110px; /* 원하는 위치로 조정 */
    left: 170px; /* 원하는 위치로 조정 */
    font-size: 36px;
    font-weight: bold;
}

.orgChart .company, .depName, .teamName, .emp {
	font-size : 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    padding : 5px;
    top: -1px;
    width: 200px; /* 고정된 너비를 설정합니다 */
    margin: 0 10px; /* 좌우 여백을 설정합니다 */
    text-align: center; /* 텍스트를 가운데 정렬합니다 */
    box-sizing: border-box; /* 패딩과 border가 요소의 전체 크기에 포함되도록 box-sizing 속성을 설정합니다 */
}

.companyName{
	font-size : 14px;
}

.bar{
	padding : 0 10px;
}

.empRank{
	font-size : 18px;
}

.empName{
	color : var(--main-navy);
	font-weight: bold;
}

.orgChart .company, .depName, .teamName {
    background-color: var(--main-navy);
    opacity: 0.8;
    color : #fff;
}

.orgChart .emp {
    background-color: #fff;
}


.orgChart .orgChartEmp .teams { 
    display: flex;   /* 조직도 정렬 */
    justify-content: center;
}

.orgChart .orgChartEmp .dep li {
    margin: 0 10px;  /* 조직도 마진으로 간격조절 */
}

.images{
    position: absolute; /* 절대 위치로 설정 */
    top: 10%; /* 원하는 위치 (상단) */
    left: 94%; /* 원하는 위치 (왼쪽) */
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer; /* 손가락 모양으로 커서 변경 */
}

.setting{
	width:50px;
	height:50px;
}


