<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
th:replace="~{views/commons/layout::layout(~{::head}, ~{::main})}">
<head>
	<link rel="stylesheet" href="/css/commons/index.css">
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>
<main>
	<div class="grid-container">
        <div class="item1">
        	<div class="card-top flex">
        		<div class="profile-pic"><div class="user-image"></div></div>
        		<div class = "info">
		            <a class="name" href="/mypage" th:text="|${emp.name} 사원|">사원이름</a>
		            <p class="department" th:text="${dep.depName}">기획팀</p>
	            </div>
            </div>
        </div>
        
        <div class="item2">
			<a class="container-header" href="/performance/plan">
	            <h2>공연일정</h2>
	            <i class="ri-arrow-right-s-line circle"></i>
	        </a>
	        <div class="content-container">
		        <div class="post-container" >
			        <div class="exhibition" th:each="plan: ${plans}">
			            <img src="/images/poster/poster2.jpg">
			            <div class="details">
			                <h2 th:text="${plan.PerType.typeName()}">장르</h2>
			                <p th:text="${plan.perTitle}">포스터 제목</p>
			                <p th:text="${plan.finishAt}">종료일</p>
			                <p th:text="${plan.location}">공연장소</p>
			                <button class="detail-btn">상세보기</button>
			            </div>
			        </div>
			    </div>
			</div>
		</div>
		
        <div class="item3">
        	<a class="container-header" href="/schedule">
	            <h2>개인일정</h2>
	            <i class="ri-arrow-right-s-line circle"></i>
	        </a>
	        <div class="flex">
				<div class="calendar">
					<div class="calendar-header">
						<div class="month-nav" onclick="previousMonth()">&#10094;</div>
						<span id="currentMonthYear" class="current-month"></span>
						<div class="month-nav" onclick="nextMonth()">&#10095;</div>
					</div>
					<div class="calendar-body">
						<table>
							<thead>
								<tr>
									<th>일</th>
									<th>월</th>
									<th>화</th>
									<th>수</th>
									<th>목</th>
									<th>금</th>
									<th>토</th>
								</tr>
							</thead>
							<tbody id="calendarBody"></tbody>
						</table>
					</div>
				</div>
			
				<div id="selectedDate" class="calendar-body">
			        <span id="selectedMonth" class="selected-month"></span>
			        <span id="selectedDay" class="selected-day"></span>
			        <div class="checklist">
			            <label class="checklist-item" th:each="schedule: ${schedules}">
			                <input type="checkbox" class="check-item">
			                <span th:text="${schedule.schTitle}" class="check-label">일정</span>
			            </label>
			        </div>
			        <div th:if="${#lists.isEmpty(schedules)}" class="checklist">일정이 없습니다.</div>
			        <button class="schedule-button" onclick="saveChecklist()">확인</button>
			    </div>
			</div>  
        </div>
        
        <div class="item4">
        	<div class="mail-container">
		        <a class="section" href="/">
		            <i class="ri-mail-unread-line mail-icon"></i>
		            <div>
		              <span class="mail-text">받은 메일함</span>
		              <span class="mail-number">99</span>
		            </div>
		        </a>
		        <a class="section" href="/">
		            <i class="ri-mail-add-line mail-icon"></i>
		            <div>
		              <span class="mail-text">내게 쓴 메일함</span>
		              <span class="mail-number">0</span>
		            </div>
		        </a>
		        <a class="section" href="/">
		            <i class="ri-mail-star-line mail-icon"></i>
		            <div>
		              <span class="mail-text">중요 메일함</span>
		              <span class="mail-number">15</span>
		            </div>
		        </a>
		    </div>
        </div>
        
        <div class="item5">
        	<a class="container-header" href="/notices">
	            <h2>공지사항</h2>
	            <i class="ri-arrow-right-s-line circle"></i>
	        </a>
	        <ul class="notices" th:each="notice : ${notices}">
	            <li class="notice-item" >
	            	<div class="flex">
		                <div class="tag">알림</div>
		                <a class="text" th:href="|/boards/${notice.noticeNo}|" th:text="${notice.noticeTitle}">제목</a>
	                </div>
	                <span class="date" th:text="${notice.writeAt}">날짜</span>
	            </li>
	        </ul>
        </div>
        
        <div class="item6">
	        <a class="container-header" href="/boards">
	            <h2>자유 게시판</h2>
	            <i class="ri-arrow-right-s-line circle"></i>
	        </a>
	        <ul class="notices" th:each="board : ${boards}">
	            <li class="notice-item">
	            	<div class="flex">
		                <div class="tag">알림</div>
		                <a class="text" th:href="|/boards/${board.boardNo}|" th:text="${board.boardTitle}">제목</a>
	                </div>
	                <span class="date" th:text="${board.writeAt}">날짜</span>
	            </li>
	        </ul>
        </div>
        
        <div class="item7">
           	<div class="datetime">
	            <p class="current-date" id="current-date">2021-12-01 (수)</p>
                <p class="time-text" id="current-time">17:24:09</p>
            </div>
            <div class="left-time-bar">
            	<div class="buttons">
                <button class="button" id="start-work-button" onclick="activateButton(this); recordStartTime()">출근하기</button>
                <button class="button" id="end-work-button" onclick="activateButton(this); recordEndTime()">퇴근하기</button>
            </div>
            	<div class="record-time">
            		<div class="working-start flex between">
            			<span>출근시간</span>
            			<span id="start-time">---:---:---</span>
            		</div>
            		<div class="working-end flex between">
            			<span>퇴근시간</span>
            			<span id="end-time">---:---:---</span>
            		</div>
            		<div class="working-today flex between">
            			<span>누적시간</span>
            			<span id="total-time">00h 00m 00s</span>
            		</div>
            	</div>
            </div>
        </div>
    </div>
    
    <script src="/js/commons/index.js"></script>
    
</main>
</html>
