<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
th:replace="~{views/commons/layout::layout(~{::head}, ~{::main})}">
<head>
	<link rel="stylesheet" href="/css/commons/index.css">
</head>
<main>
	<div class="grid-container">
        <div class="item">1</div>
        <div class="item">전자결재</div>
        <div class="item">공연일정</div>
        <div class="item">개인일정</div>
        <div class="item">메일</div>
        <div class="item">최신 게시글</div>
        <div class="item">공지사항</div>
        <div class="item">인기 공연</div>
    </div>
</main>
</html>
