<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>사원 상세 정보</title>
    <link rel="stylesheet" href="/css/emp/detail.css">
    <script src="../js/hrm/detail.js"></script>
</head>
<body>
    <div class="details-card" id="details-card">
        <img src="../images/hrm/profile.png" alt="프로필 사진">
        <div class="details-info">
            <div class="department">영업팀</div>
            <div class="name">이지원</div>
            <div>
                <span id="font">지위/직급:</span>
                <span id="font" class="position">차장</span>
            </div>
            <div>
                <span id="font">전화:</span>
                <span id="font" class="phone">010-1234-5678</span>
            </div>
            <div>
                <span id="font">이메일:</span>
                <span id="font" class="email">leejiwon@gmail.com</span>
            </div>
        </div>
    </div>
</body>
</html>