<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      th:replace="~{views/commons/layout::layout(~{::head}, ~{::main})}">
<head>
	<link rel="stylesheet" href="/css/emp/detail.css">
	<link rel="stylesheet" href="/css/emp/emp.css">
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script src="/js/hrm/detail.js"></script>    
	<title>인사관리</title>
</head>
	<main>
		<header class ="title">조직도</header>
		<div class="orgChart">
	        <ul class="orgChartEmp">
	            <li class="node">
	                <div class="company">
	                	<span class="companyName">(주)</span>	 
	                    <span>MIRCALE</span>	
	                </div>
	                <ul class="dep">
	                    <li>
	                        <div class="depName">영업부</div>
	                        <div class="emp">
								 <span class="empName" onclick="showEmployeeDetail('김한솔')">김한솔</span>
							</div>
	                        <ul class="team">
	                            <li >
	                                <div class="teamName">영업팀</div>
	                                <div class="emp">
	                                	<span class="empName" onclick="showEmployeeDetail('유해리')">유해리</span>
	                                	<span class="bar">|</span>
	                                	<span class="empRank">팀장</span>	
	                                </div>
	                                <div class="emp">
	                                	<span class="empName">박민규</span>
	                                	<span class="bar">|</span>
	                                	<span class="empRank">대리</span>	
	                                </div>
	                                <div class="emp">
	                                	<span class="empName">신현직</span>
	                                	<span class="bar">|</span>
	                                	<span class="empRank">부장</span>	
	                                </div>
	                                <div class="emp">
	                                	<span class="empName">이지원</span>
	                                	<span class="bar">|</span>	 
	                                	<span class="empRank">차장</span>	
	                                </div>
	                                <div class="emp">
	                                	<span class="empName">정하나</span>
	                                	<span class="bar">|</span>	 
	                                	<span class="empRank">사원</span>	
	                                </div>
	                                <div class="emp">
	                                	<span class="empName">홍길동</span>
	                                	<span class="bar">|</span>
	                                	<span class="empRank">사원</span>
	                                </div>
	                            </li>
	                            <li>
	                                <div class="teamName">마케팅팀</div>
	                                <div class="emp">
	                               		<span class="empName" onclick="showEmployeeDetail('박태주')">박태주</span>
	                                	<span class="bar">|</span>
	                                	<span class="empRank">팀장</span>	
	                                </div>
	                                <div class="emp">
	                                	<span class="empName" onclick="showEmployeeDetail('김하얀')">김하얀</span> 
	                                	<span class="bar">|</span>
	                                	<span class="empRank">대리</span>
	                                </div>
	                                <div class="emp">
	                                	<span class="empName">문유리</span>	 
	                                	<span class="bar">|</span>
	                                	<span class="empRank">사원</span>
	                                </div>
	                                <div class="emp">
	                                	<span class="empName">이혜지</span>	 
	                                	<span class="bar">|</span>
	                                	<span class="empRank">사원</span>
	                                </div>
	                            </li>
	                        </ul>
	                    </li>
	                    <li>
	                        <div class="depName">관리부</div>
	                        <div class="emp">
	                        	<span class="empName" onclick="showEmployeeDetail('박세나')">박세나</span>
							</div>
	                        <ul>
	                            <li>
	                                <div class="teamName">기획팀</div>
	                                <div class="emp">
	                                	<span class="empName" onclick="showEmployeeDetail('김도영')">김도영</span>	 
	                                	<span class="bar">|</span>
	                                	<span class="empRank">팀장</span>	
	                                </div>
	                                <div class="emp">
	                                	<span class="empName">손현준</span>	 
	                                	<span class="bar">|</span>
	                                	<span class="empRank">과장</span>
	                                </div>
	                                <div class="emp">
	                                	<span class="empName">임수현</span>	 
	                                	<span class="bar">|</span>
	                                	<span class="empRank">대리</span>	
	                                </div>
	                                <div class="emp">
	                                	<span class="empName" onclick="showEmployeeDetail('윤민석')">윤민석</span>	 
	                                	<span class="bar">|</span>
	                                	<span class="empRank">사원</span>
	                                </div>
	                            </li>
	                            <li>
	                                <div class="teamName">무대연출팀</div>
	                                <div class="emp">
	                                	<span class="empName" onclick="showEmployeeDetail('전용준')">전용준</span>
	                                	<span class="bar">|</span>
	                                	<span class="empRank">팀장</span>
	                                </div>
	                                <div class="emp">
	                                	<span class="empName">김준형</span>	 
	                                	<span class="bar">|</span>
	                                	<span class="empRank">대리</span>	
	                                </div>
	                                <div class="emp">
	                                	<span class="empName">염가은</span>	 
	                                	<span class="bar">|</span>
	                                	<span class="empRank">부장</span>
	                                </div>
	                                <div class="emp">
	                                	<span class="empName">이지훈</span>	 
	                                	<span class="bar">|</span>
	                                	<span class="empRank">차장</span>
	                                </div>
	                                <div class="emp">
	                                	<span class="empName">이현호</span>	 
	                                	<span class="bar">|</span>
	                                	<span class="empRank">사원</span>
	                                </div>
	                                <div class="emp">
	                                	<span class="empName" onclick="showEmployeeDetail('최재영')">최재영</span>
	                                	<span class="bar">|</span>
	                                	<span class="empRank">사원</span>
	                                </div>
	                            </li>
	                        </ul>
	                    </li>
	                </ul>
	            </li>
	        </ul>
	    </div>
	    <div class="tooltip" id="tooltip"></div>
	</main>
</html>