body {
	display: grid;
    grid-template-rows: 70px 1fr;
    grid-template-columns: 90px 1fr;
    height: 100vh;
    width: 100vw;
}
main {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    padding: 30px;
    overflow-y: auto; /* 추가: 컨텐츠가 넘칠 경우 스크롤바 표시 */
}
#header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
	background-color: var(--main-navy);
	color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    
    position: sticky; /* 추가: sticky 위치 고정 */
    top: 0;           /* 추가: 화면 상단에 고정 */
    z-index: 1000;    /* 추가: 다른 콘텐츠 위에 표시 */
}

#header .logo {
    font-size: 24px;
    font-weight: bold;
    color: white !important;
}
#header .user-info {
    display: flex;
    align-items: center;
}

#header > .header-right > .user-info > a > i {
	font-size: 35px;
    margin : 0px 5px;
    color: white;
}

#header > .header-right > .user-info > i{
    font-size: 25px;
    margin : 0px 5px;
}

#header .username {
    color: white;
    font-weight: 500;
}
#time-icon{
	font-size: 20px !important;
}
#remaining-time{
	margin-left: 5px;
	margin-right : 15px;
}


#sidebar {
    background-color: var(--sub-grey);
    color: var(--main-navy);   
    grid-column: 1 / 2;
    grid-row: 2 / -1;
    
    position: sticky; /* 추가: sticky 위치 고정 */
    top: 70px;        /* 추가: 헤더 바로 아래에 고정 */
    height: calc(100vh - 70px); /* 추가: 전체 높이에서 헤더 높이만큼 뺀 값 */
    overflow-y: auto; /* 추가: 컨텐츠가 넘칠 경우 스크롤바 표시 */
}

#sidebar > ul {
	margin: 20px 0;
}

#sidebar > ul > li > a {
    color: var(--main-navy);
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
}

#sidebar > ul > li > a > i {
	height: 40px;
}

#sidebar > ul > li > a > i::before{
	font-size: 30px;
}

#sidebar > ul > li > a > span{
	font-size: 14px;
	font-weight: bold;
}

#sidebar ul li:hover {
    background-color:var(--sub-navy);
}

