@charset "UTF-8";
@import url("/css/commons/sub-menu.css");

.content {
    display: flex;
    height: 100%;
}



h2 {
	min-width: 200px;
	margin-top: -15px;
	margin-left: 15px;
	font-size: 24px;
	
}


h4 {
	min-width: 200px;
	font-size: 36px;
}



/* 좌우 나누는 바 */
.right-section {
    padding: 20px;
    overflow-y: auto; /* 섹션이 넘치면 스크롤 */
}

th {
	width: 100%;
	padding: 15px;
	text-align: center;
	font-weight: bold;
}

/* 공지사항 글목록 전체 */
td {
	padding: 20px 70px;
	white-space: nowrap; /* 텍스트가 한 줄로 유지되도록 설정 */
}

table {
	width: 1220px;
}

.no {
	width: 150px;
}

.post-body {
	border-bottom: 1px solid var(--sub-grey);
}

body > main > div > div.right-section > div > div > form > div {
    display: flex; /* 플렉스박스 사용하여 아이템 정렬 */
    align-items: center; /* 아이템을 세로로 가운데 정렬 */
}

/* 검색어 입력 박스와 검색 버튼 */
#content-box > form > div {
	display: flex;
	align-items: center;
}

/* 검색어 입력 박스 */
#search {
	width: 70%;
	font-size: 14px;
	padding: 5px 10px;
	border: 2px solid var(--main-grey);
	margin-left: 100px;
}

/* 검색창 배경색깔 */
body > main > div > div.right-section > div > div > form > div {
	width: 100%;
	padding: 15px 0px;
	background-color: var(--sub-grey);
}

body > main > div > div.right-section > div {
	padding: 45px;
}

/* 검색 버튼 */
#content-box.search-wrap.btn {
	display: inline-block;
	width: 60px;
	font-size: 16px;
	background-color: var(--main-navy);
	color: white;
	margin-left: -10px;
	
}

#content-box {
	margin-top: 50px;
	width: 1220px;
	height: 100%;
}

.notice-item {
	display: flex;
	flex-direction: column;
}
