@charset "UTF-8";
@import url("/css/mail/sidebar.css");

.content {
    display: flex;
    height: 100%;
}

body{
	line-height: 1.6 !important;
}

.add-home {
	min-width: 200px;
	margin: -15px 0 0 15px;
	font-size: 24px;
	font-weight : 400;
	line-height: 1.6;
}

.add {
	font-weight : 400;
	font-size: 36px;
	margin: 0;
	line-height: 1.6;
}


#title-box {
	margin-top: 40px;
	margin-bottom: 20px;
}




/* right-section 부분 박스 */
.post-box {
	padding: 45px;
}



.right-section {
    flex: 9;
    padding: 20px;
    overflow-y: auto; /* 섹션이 넘치면 스크롤 */
}

/* Summernote 에디터 스타일 조정 */
#post-contentbox {
    width: 70%; /* 에디터의 가로 크기 */
    height: 70%; /* 에디터의 세로 크기 */
    font-size: 14px; /* 기본 글꼴 크기 */
}

.note-editable {
	height: 400px;
}


/* left-section 공지사항, 게시판, 게시글 추가 메뉴 */
.notice-item {
	display: flex;
	flex-direction: column;
}

/* 게시글 추가 제목 */
#title {
	width: 50%;
}

.font {
	font-size: 18px;
}