@charset "UTF-8";

h1{position: absolute;left: -9999px;}

.content-left>.left-box{
	padding-right: 30px;
	border-right: 1px solid var(--sub-grey);
	box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);
}

.sub-title {
	font-size: 36px;
	padding: 20px 0 40px;
	border-bottom: 3px solid var(--sub-grey);
}



#left-section>.wrap {
	min-width: 220px;
	min-height: calc(100vh - 100px);
	 
}

#left-section>.wrap>.sub-menu {
	margin-top: 30px;
}

#left-section>.wrap>.sub-menu>.menu-item{
	
	border-bottom: 1px solid var(--sub-grey);
	border-radius: 3px;
	background-color: rgba(0,0,0,.05);
	margin: 5px 0;
	padding : 0 10px;
}

#left-section>.wrap>.sub-menu>.menu-item>a {
	display: block;
	padding: 1em;
	font-size: 18px;
	color: #333;
}