<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
th:replace="~{views/commons/layout::layout(~{::head}, ~{::main})}">
<head>
	<link rel="stylesheet" href="/css/mail/list.css">
</head>
<main>
	<div class="content">
		<!-- Left section -->
        <div class="left-box">
        	<p class="sub-title">메일함</p>
			<th:block  th:insert="~{views/mail/sidebar}"/>
		</div>
		
		<!-- Right section -->
		<div class="right-box">
			<h2 class="add-home">HOME > 글쓰기</h2>
			<div class="main-content">
		        <div>
		            <span>받은 메일함 </span>
		            <span> 전체 메일</span>
		            <span th:text="${receiveMailFolder.totalCount}"></span>
		            <span> / 안 읽은 메일</span>
		            <span th:text="${receiveMailFolder.unreadCount}"></span>
		        </div>
		        <div th:utext="${emails}"></div>
		        <div th:utext="${error}"></div>
		        <table class="email-list">
		            <thead>
		                <tr>
		                    <th><input type="checkbox"></th>
		                    <th>보낸 사람</th>
		                    <th>제목</th>
		                    <th>날짜</th>
		                </tr>
		            </thead>
		            <tbody>
			            <tr th:each="receiveMail:${receiveMailFolder.mails}">
			            	<td><input type="checkbox"></td>
							<td th:text="|${receiveMail.from.name} (${receiveMail.from.email})|">보낸 사람</td>
							<td th:text="${receiveMail.subject}">제목</td>
							<td th:text="${receiveMail.sentTime}">날짜</td>
						</tr>
		            </tbody>
		        </table>
		    </div>
		</div>
	</div>
</main>
</html>